<div class="container">
    <h1>Add Expense</h1>
    <form  #expenseForm="ngForm">
      <div class="form-group">
        <label for="category">Category</label>
        <input type="text" class="form-control" id="category" required [(ngModel)]="expense.category" name="formCategory">
      </div>

      <div class="form-group">
        <label for="total">Total</label>
        <input type="text" class="form-control" id="total" required [(ngModel)]="expense.total" name="formTotal">
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" required [(ngModel)]="expense.description" name="formDescription">
      </div>

      <div class="form-group ">
        <label>Select user</label>
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{expense.user.name}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item" *ngFor="let user of userArray" (click)="changeUser(user._id)">{{user.name}}</button>
            </div>
          </div>
      </div>


      <button class="btn btn-success" (click)="submit()">Submit</button>

    </form>
    {{message}}
</div>