
<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary" >
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand">Navbar</a>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-user" routerLinkActive="active">Add user</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-expense" routerLinkActive="active">Add expense</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/list-expense" routerLinkActive="active">Expense list</a>
        </li>
      </ul>
    </div>
</nav>